@import "../styles/Variables.scss";

.header-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0px;
  svg {
    cursor: pointer;
  }
  .buttons {
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10px;
  }
}

.footer-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-bg;
  height: 60px;
  margin-top: 2px;
  padding-inline: 20px;
  border-top: 2px solid rgba(235, 237, 244);
  .sub-view {
    display: grid;
    .ant-btn {
      color: $color-text;
      padding: 0px;
      height: 23px;
      &.left {
        text-align: left;
      }
      &.right {
        text-align: left;
      }
    }
  }
}
