@import "../styles/Variables.scss";

.home-main-view {
  display: flex;
  min-height: 100vh;
  @media (max-width: 768px) {
    display: grid;
  }
}

.left-view-home {
  background-color: $color-app-blue;
  flex: 1;
  display: grid;
  padding: 20px;
  .desc {
    font-size: 20px;
    font-weight: bold;
    // max-width: 350px;
    color: white;
    margin-top: 20px;
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
}

.right-view-home {
  flex: 1;
  display: grid;
  align-content: space-between;
  padding-bottom: 30px;
  .header-home {
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10px;
  }
  .view-body {
    display: grid;
    justify-content: center;
    gap: 30px;
    .get-start {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
    }
    @media (max-width: 768px) {
      margin-block: 100px;
    }
  }
  .view-footer {
    display: grid;
    justify-content: center;
    gap: 30px;
    .logo-view {
      display: flex;
      justify-content: center;
    }
  }
  .view-terms {
    display: flex;
    .divider {
      background-color: black;
      width: 1px;
      margin-block: 8px;
      margin-inline: 6px;
    }
  }
}

.left-view-home-second {
  flex: 1;
  display: grid;
  padding: 20px;
  align-content: center;
  gap: 20px;
  .desc {
    font-size: 26px;
    line-height: 45px;
    font-weight: bold;
    max-width: 400px;
    // color: $color-app-blue;
    margin-top: 20px;
    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 35px;
      max-width: 300px;
    }
  }
  .btn-get-start {
    max-width: 200px;
  }
}

.right-view-home-second {
  flex: 1;
  display: grid;
  padding: 20px;
  padding-right: 0px;
  align-content: center;
  justify-content: end;
  img {
    height: 90%;
    @media (max-width: 768px) {
      height: auto;
      width: 100%;
      padding-right: 20px;
    }
  }
}

.left-view-home-third {
  flex: 0.75;
  display: grid;
  padding: 20px;
  padding-left: 0px;
  align-content: center;
  img {
    height: 90%;
    @media (max-width: 768px) {
      height: auto;
      width: 100%;
      padding-left: 20px;
    }
  }
}

.right-view-home-third {
  flex: 0.25;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  align-items: end;
  gap: 10px;
  .desc {
    font-size: 26px;
    line-height: 45px;
    font-weight: bold;
    // max-width: 350px;
    // color: $color-app-blue;
    margin-top: 20px;
    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 35px;
    }
  }
  .btn-find {
    max-width: 210px;
    margin-top: 10px;
    padding-inline: 40px;
  }
}

.home-footer-view {
  display: flex;
  height: 100vh;
  background-color: $color-app-blue;
  justify-content: center;
  align-items: center;
}
