@import "../../../styles/Variables.scss";

.custome-field {
  margin-bottom: 15px !important;
  .ant-form-item-label {
    label {
      color: $color-text;
      height: 100%;
    }
  }
  .ant-form-item-control-input {
    .ant-form-item-control-input-content {
      background-color: $color-bg;
      border-radius: 6px;
      .ant-input-password {
        border: none;
        background-color: transparent;
        padding-block: 0px !important;
      }
      .ant-select-selector,
      .ant-input {
        color: $color-text;
        border: none;
        background-color: transparent;
        height: 38px;
        font-size: 14px;
      }
    }
  }
  .ant-form-item-explain-error {
    font-size: 12px;
  }
}
