.chat-view {
  height: calc(100vh - 200px);
  width: 100%;
  // display: grid;
  // gap: 20px;
  overflow: auto;
  .loading-view {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
  }
  .chat-question {
    font-size: 40px;
    font-weight: bold;
  }
  
  .chat-answer {
    font-size: 20px;
    background-color: transparent !important;
    border: none !important;
  }
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}


.input-div {
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  position: absolute;
  bottom: 20px;
  left: 200px;
  right: 200px;
  .ant-form {
    display: flex;
    gap: 10px;
    .ant-form-item {
      margin-bottom: 0px;
    }
    .input-message {
      flex: 1;
      .ant-input {
        background: transparent;
        border: transparent;
        box-shadow: none;
      }
    }
  }
}
