@import "../../styles/Variables.scss";

.history-view {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  overflow: auto;
  background: $color-bg;
  margin-right: 5px;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-inline: 10px;

  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */

  .history-header {
    display: flex;
    gap: 30px;
    margin-block: 20px;
    flex-direction: column;
    align-items: center;
  }

  .recent {
    color: $color-primary;
    margin-left: 10px;
  }
  .title {
    font-size: 16px;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 12px;
  }

  .ant-btn {
    display: flex;
    gap: 5px;
    padding-inline: 8px;
    align-items: center;
    padding-bottom: 5px;
    img {
      height: 18px;
      width: 18px;
      margin-top: 1px;
    }
    svg {
      margin-left: 2px;
      height: 14px;
      width: 14px;
      fill: $color-primary;
    }
    span {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $color-text;
    }
    .primary-txt {
      color: $color-primary;
    }
  }
}

.empty-view {
  background-color: #0000ff20;
  padding: 10px;
  border-radius: 6px;
}

.view-all-collapse {
  border: none;
  .ant-collapse-item {
    border: none;
    .ant-collapse-header {
      padding: 0px;
      padding-left: 10px;
      color: $color-primary;
      border: none;
      background-color: $color-bg;
      .ant-collapse-expand-icon {
        padding-inline-end: 6px;
      }
    }
    .ant-collapse-content {
      .ant-collapse-content-box {
        padding: 0px;
        background-color: $color-bg;
      }
    }
  }
}
