@import "../../styles/Variables.scss";

.history-view {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  overflow: auto;
  background: $color-bg;
  margin-right: 5px;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-inline: 10px;

  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */

  .recent {
    color: $color-primary;
  }
  .title {
    font-size: 16px;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 12px;
  }

  .ant-btn {
    // height: 50px !important;
    // flex: 1;
    span{
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.empty-view {
  background-color: #0000FF20;
  padding: 10px;
  border-radius: 6px;
}
